.mainContainer {
    background-color: #FCF9EB;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;
}
@media (max-width: 760px){
    .container{
       flex-direction: column;
       align-items: center;
    }
  }

.bodyblack {
    background-image: url(../../utils/Profile2.png);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}

.fondoamarillo {
    background-image: url(../../utils/fondoamarillo.png);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 100%;
}

.containerevent {
    /* position: absolute; */
    top: 810px;
    left: 161px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.707);
    color: white;
    border-radius: 11px;
    padding-inline: 1.5em;
    font-size: 12px;
}


.img {
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* padding: 0% 5%; */
    padding-right: 3em;
    width: 35vw;
    border-radius: 10px;
}
@media (max-width: 760px){
    .img{
        width: 97%;
        padding: 0px;
    }
  }


.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
    width: 35vw;
    height: 80vh;
    border-radius: 10px;
    background-color: #FCF9EB;
}
@media (max-width: 760px){
    .head{
        width: 94%;
        justify-self: center;
    }
  }

.textup{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 100%;
    padding-left: 2vw;
    padding-top: 2vh;
}

.category {
    justify-content: start;
    font-size: 25px;
    width: 100%;
}

.name {
    margin: 0px;
    display: flex;
    font-size: 3em;
}

.rating {
    /* position: absolute; */
    top: 121px;
    font-size: 1.2em;
    left: 161px;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.707);
    align-items: end;
    padding: 5px;
}

.star {
    height: 1em;
    align-self: center;
}

.horariotitulo {
    font-size: 1.5em;
    padding-left: 1em;
}

.horario {
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 1em;
}

.horariohora {
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 1em;
}

.menu {
    font-size: 1.2em;
    text-decoration: none;
    color: #40047C;
    padding-left: 1em;
}

.promo {
    font-size: 1.2em;
    padding-left: 1em;
}

.promo h2 {
    margin: 0px;
    padding-left: 1em;
}

.direccion {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(43, 43, 43);
    padding-left: 1em;
}

.ciudad {
    font-size: 1.2em;
    padding-left: 1em;
    padding-bottom: 2em;
}

.sideDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    align-content: space-around;
    /* position: absolute; */
    top: 72vh;
    margin: 0.5em;
}

.location2 {
    height: 3em;
    width: 3em;
}

.edad {
    font-size: 2em;
}

.footprint {
    height: 2em;
    width: 2em;
}

.reservar {
    /* position: relative; */
    font-size: medium;
    justify-self: center;
    text-decoration: none;
    height: 5vh;
    width: 10vw;
    background: #40047C;
    color: white;
    border-radius: 11px;
    justify-content: center;
}

.reservar:hover {
    background: #712dc9;
    cursor: pointer;
}

.book{
    border: #FCF9EB;

}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    /* position: relative; */
    top: 7vh;
}
@media (max-width: 760px){
    .centrar a button{
        width: 97%;
        
    }
  }


.loadingcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.loading {
    font-size: 80px;
}

.ratingShow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding: 1em;
}

/* ---------------------------------------------------------- Dark Mode --------------------------------------------------- */

.fondoVioleta {
    background-image: url(../../utils/fondovioleta.png);
    background-size: cover;
    background-position-x: -50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 100%;
}

.fondoVioleta>a {
    text-decoration: underline;
    color: white;
}

.mainContainerDark {
    background-color: #2A2A2B;
    height: 100vh;
}
@media (max-width: 760px){
    .mainContainerDark{
        height: 100%;
    }
  }

.headDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
    width: 35vw;
    height: 80vh;
    border-radius: 10px;
    background-color: #323234;
    color: #FCF9EB;
}
@media (max-width: 760px){
    .headDark{
        width: 94%;
        justify-self: center;
        height: 100%;
    }
  }