.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2em;
}

.localsContainer {
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
    background-color: #FCF9EB;
    width: 45%;
    height: 80vh;
    border-radius: 1rem;
    margin: 2em;
    overflow-y: scroll;
}

.crearButton {
    background-color: #40047C;
    color: #FCF9EB;
    border-radius: 1em;
    padding: 1em;
    width: 10em;
}

.crearButton:hover {
    cursor: pointer;
    background-color: #40047ce0;
    color: #FCF9EB;
    border-radius: 1em;
    padding: 1em;
    width: 10em;
}

/* ----------------------------------------------Dark Mode ----------------------------------------- */

.localsContainerDark {
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
    background-color: #2D2D2D;
    width: 45%;
    height: 60vh;
    border-radius: 1rem;
    margin: 2em;
}