.fondo {
  margin: auto 0;
  background: url("https://anonfiles.com/BaN4f3U3y8/Sol_png") no-repeat 50% 18.5%;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  /* margin-left: 55px;
  margin-right: 55px; */
}


.botonpaginado {
    width: 130px;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
    background-color: #424240;
    color: #fff;
    border: none;
    margin: 20px;
    border-radius: 5px;
    transition: all .4s;
   }
   
   .botonpaginado:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #40047C,
     0 15px 0 -4px #FFB800,
     0 16px 10px -3px #FFB800;
   }

   .botonpaginadodark {
    width: 130px;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
    background-color: #fefefe;
    color: rgb(0, 0, 0);
    border: none;
    margin: 20px;
    border-radius: 5px;
    transition: all .4s;
   }
   
   .botonpaginadodark:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #40047C,
     0 15px 0 -4px #FFB800,
     0 16px 10px -3px #FFB800;
   }
   
   .botonpaginado:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #40047C,
     0 8px 0 -4px #FFB800,
     0 12px 10px -3px #FFB800;
   }

   .cargando h1{
    font-size: 50px;
    margin: 0px;
    color: white;
   }
/* 
   .cargandodark h1{
    font-size: 50px;
    margin: 0px;
    color: black;
   } */
   
.info{
  background-image: url(../../utils/Home2.png);
  background-repeat: repeat-y;
  height: 100%;
}

.infodark{
  background-image: url("../../utils/homedark.png");
  background-size: cover;
  background-color: #2A2A2B;
}

.filtercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    align-items: center;
    flex-wrap: nowrap;
    background-color:  #FCF9EB;
}

.filter{
    color: #797979;
    padding: 0.7em 1.7em;
    margin: 10px;
    font-size: 12px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
   }

.limpiar{
    color: #797979;
    padding: 0.7em 1.7em;
    margin: 10px;
    font-size: 12px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
}
.limpiar:hover{
    color: #e0e0e0;
    background-color: #FDFBF2;
    cursor:pointer;
}

.searchbar {
  color: #000000;
  padding: 0.3em 1.3000000000000007em;
  margin-top: 12px;
  margin-inline: 35px;
  font-size: 18px;
  border-radius: 1em;
  width: 26em;
  border-style: none;
  background: #FDFBF2;
  border-style: solid;
  border-width: 1px;
  border-color: #797979;
}

.searchbardark {
  color: #f3f3f3;
  padding: 0.3em 1.3000000000000007em;
  margin-top: 12px;
  margin-inline: 35px;
  font-size: 18px;
  border-radius: 1em;
  width: 26em;
  border-style: none;
  background: #434343;
  border-style: solid;
  border-width: 1px;
  border-color: #8b8b8b;
}