.profilePict {
    width: 180px;
    height: 180px;
    border-radius: 10%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
  }

.divContainer{
  display: grid;
  grid-template-columns: 200px auto auto;
    width: 98%;
    height: 200px;
    background-color: rgb(143, 13, 176);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 25px rgb(91, 92, 91);
    
  
    
}

.name{
  
  font: 45px Robot, sans-serif;
  float: left;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 90px;
  justify-self: flex-start;
}

.divProfile{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(91, 92, 91);
  width: 400px;
  height: 300px;
  margin-bottom: 40px;
  margin-left: 15px;
}
.divProfile span{
  color: brown;
  font-weight: 600;
  width: 100px;
}
.divProfile p{
  margin: 10px;
  width: 400px;
  text-align: left;
}
.divProfile span{
  margin: 10px;
  width: 300px;
  text-align: left;
}

.localsInformation{
  box-shadow: 0px 0px 25px rgb(91, 92, 91);
  border-radius: 10px;
  margin-left: 20px;
  width: 500px;
}
.booksInformation{
  box-shadow: 0px 0px 25px rgb(91, 92, 91);
  border-radius: 10px;
  margin-left: 20px;
  width: 500px;
}
.imgBar{
  width: 100px;
  height: 110px;
}
.divYourBars{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
.infoBar{
  border: 2px solid rgb(158, 50, 205) ;
  font-size: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.infoBarsAndInfoUser{
  display: flex;
  flex-direction: row;
  height: 300px;
}

.Logo{
  border-style: solid;
  border-width: 7px;
  border-color: rgb(43, 20, 10);
  border-radius: 20px;
  padding: 5px;
  margin-right: 5px;
  background-color: #FFB800;
  height: 80px;
  width: 60px;
 justify-self: flex-end;
 margin-top: 60px;
 margin-right: 30px;
 
}