.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../../utils/SignUp.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../../utils/Login.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.containerDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(79deg, #414347, #3c3441 40%);
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 25px;
    padding: 25px;
    border-radius: 11px;
    box-shadow: 0px 4px 19px 7px rgba(0, 0, 0, 0.25);
    background-color: #FCF9EB;
    height: 55vh;
    width: 25%;
}

.input {
    display: flex;
    margin-top: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    background: #FCF9EB;
    border-radius: 7px;
    /* width: 95%; */
    border-style: solid;
    border-width: 1px;
    border-color: #A7A7A7;
    font-family: 'Cambay', sans-serif;
    font-size: medium;
}

.linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.submitButton {
    background: #40047C;
    border-radius: 5px;
    padding:5px;
    width: 40%;
    color: #E7E7E7;
    font-family: 'Cambay', sans-serif;
    font-size: 16px;
}

.submitButton:disabled, .registrarButton:disabled {
    background: #E7E7E7;
    color:#660BAD;
}

.submitButton:hover:enabled, .registrarButton:hover:enabled {
    cursor: pointer;
    background: #660BAD;
    color:rgba(255, 255, 255, 0.86)
}

.registrarButton {
    background: rgba(102, 11, 173, 0.86);
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 25px;
    padding:5px;
    width: 200px;
    color: #E7E7E7;
    font-size: 16px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    color: #40047C;
}

.subtitles {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    color: #40047C;
}

.label {
    font-size: 15px;
    font-family: 'Cambay', sans-serif;
}

/* FormBar */
.scheduleContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* background: #E7E7E7; */
    border-radius: 10px;
}

.weekdaysContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;
    padding-right:30px;
    align-items: flex-start;
    width: 100px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    background-color:#FCF9EB;
    border-radius: 5px;
}

.hoursContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 25px;
    gap: 20px;
    width: 150px;
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    background-color:#FCF9EB;
    border-radius: 5px;
}

.select {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    background: #FCF9EB;
    border-radius: 10px;
    width: 98%;
}

.selectHours {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 10px;
    background: #FCF9EB;
    border-radius: 10px;
    width: 150px;
}

.weekHours {
    display: flex;
    justify-content: center;
}

.petFriendlyEventos {
    margin:15px;
    gap: 10px;
}


