.places{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:5px;
    padding: 25px;
    text-decoration: none;
}

.place {
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    height: 9cm;
    background-color: #fcf9eb8a;
    background-size: contain;
    border-radius: 11px;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    transition: all 0.5s ease;
    
}
.place:hover {
    transform: scale(1.09) rotate(2deg);
    cursor: pointer;
  }
  

.logo{
    border-radius: 11px 11px 0px 0px;
    height: 240px;
    width: 300px;
    box-shadow: 2px 2px 2px #0c0c0c33;
}

.text{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    
}
