.places {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
}

@media (max-width: 1500px) {
    .places {
        margin-trim: 20px;
    }
}

@media (max-width: 550px) {
    .places {
        display: flex;
        flex-direction: row;
        margin: 30px 13px 15px 13px;
    }
}


.place {
    height: fit-content;
    width: 25rem;
    background-color: #fcf9ebaa;
    background-size: contain;
    border-radius: 11px;
    color: black;
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
    z-index: 1;
    
}

@media (max-width: 1500px) {
    .place{
        height: fit-content;
        width: 18rem;
        border-radius: 12px;
        color: black;
        font-family: 'Cambay', sans-serif;
        font-style: normal;
        transition: all 0.5s ease;
        box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
        z-index: 1;
    
    }
}
    


.place:hover {
    transform: scale(1.09) rotate(2deg);
    cursor: pointer;
}

.placedisabled {
    height: 46vh;
    width: 25rem;
    background-color: #70707052;
    background-size: contain;
    border-radius: 11px;
    color: rgba(255, 255, 255, 0.593);
    font-family: 'Cambay', sans-serif;
    font-style: normal;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 9px 0px rgba(102, 102, 102, 0.28);
}


.logo {
    border-radius: 11px 11px 0px 0px;
    height: 35vh;
    width: 100%;
    object-fit: cover;
}

.logodisabled {
    border-radius: 11px 11px 0px 0px;
    height: 35vh;
    width: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

.textContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    padding-bottom: 15px;
}

.text {
    text-align: start;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 50px;
}

.text h3 {
    margin-bottom: 18px;
}

.text h4 {
    margin: 0px;
}


@media (max-width: 550px) {
    .text h3 {
        margin-bottom: 10px;
    }
}


.numbersInfo {
    text-align: end;
    padding-right: 10px;
    padding-bottom: 10px;
}

.numbersInfo h4 {
    margin: 0px;
    margin-top: 18px;
}

@media (max-width: 550px) {
    .numbersInfo h4 {
        margin-top: 13px;
    }
}
.nextBotton{
    display: none;
    background-color: transparent;
    backdrop-filter: blur(70px); 
    position: absolute;
    right: 0.5%;
    border-radius: 12px ;
    font-weight: 500;
    font-size: 22px;
    top: 50%;
    /* cursor: pointer; */
    box-shadow: 2px 2px 15px 0px rgb(255, 253, 253);
    opacity: 10;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

.backBotton{
    display: none;
    background-color: transparent;
    backdrop-filter: blur(70px); 
    position: absolute;
    left: 0.5%;
    border-radius: 12px ;
    font-weight: 500;
    font-size: 22px;
    top: 50%;
    /* cursor: pointer; */
    box-shadow: 2px 2px 15px 0px rgb(255, 253, 253);
    opacity: 10;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}
.img{
    border-radius: 11px 11px 0px 0px;
    height: 35vh;
    width: 100%;
    /* object-fit: cover; */
    position: relative;
    /* pointer-events: none; */
    z-index: 1;
    position: relative;
}
.img:hover .nextBotton {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    display: block;
   
  }
  .img:hover .backBotton {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    display: block;
  }

  .img:active .nextBotton {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    display: block;
   
  }
  .img:active .backBotton {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    display: block;
  }