.mainContainer {
  background-color: #FCF9EB;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  gap: 2em;
}

@media (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: row;
    margin: 30px 13px 15px 13px;
  }
}

.name {
  color: #40047C;
}

.description {
  margin-left: 7em;
  margin-right: 7em;
  text-align: left;
}

@media (max-width: 550px) {
  .description {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.each {
  height: fit-content;
  width: 25rem;
  background-color: #fcf9ebaa;
  background-size: contain;
  border-radius: 11px;
  color: black;
  font-family: 'Cambay', sans-serif;
  font-style: normal;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
}

.imageContainer {
  height: 40vh;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 11px 11px 0px 0px;
}

.linksContainer {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin: 0.5em;
}

.gitHub {
  fill: gray
}

.gitHub:hover {
  cursor: pointer;
  fill: #6e5494;

}

.linkedin {
  fill: gray;
}

.linkedin:hover {
  fill: #0072b1;
}

/* -------------------------------------------Dark Mode ----------------------------------------------- */
.mainContainerDark {
  background-color: #2A2A2B;
  color:#FCF9EB;
}

.title {
  color: #5A268C;
}

.nameDark {
  color: #c8aae3;
}
.eachDark {
  height: fit-content;
  width: 25rem;
  background-color: #4F4F4F;
  background-size: contain;
  border-radius: 11px;
  color: #FCF9EB;
  font-family: 'Cambay', sans-serif;
  font-style: normal;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.28);
}