.h1{
    color: rgb(255, 255, 255);
    margin:8px;
}

.h1NoHome {
    color: black
}

.Container {
    background-color: #FCF9EB;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    flex-wrap: nowrap;
    padding-inline:20px;
}

.Containernight {
    background-image: linear-gradient(79deg, #4b587b, #3a0662 40%);
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: nowrap;
    padding-inline:20px;
}


.ContainerNoHome {
    background-color: #FCF9EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    height: 70px;
    flex-wrap: nowrap;

}

.ContainerNoHome > div {
    display: flex;
    margin: 0 20px 0 20px;
    align-items: center;
}

.link:link{
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
}
.link:visited{text-decoration: none;}

.Container div{
    display: flex;
}

.Button{
    height: 35px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: white;
}

.Button:hover{
    cursor: pointer;
    color: black;
}

.Button:hover>img{
    height: 35px;
}

.ButtonLogin{
    color: rgb(255, 255, 255);
    font-size: large;
    background-color: #522ba7;
    border-radius: 15px;
    height: 30px;
   
}

.ButtonLogin:hover{
    cursor: pointer;
    color: #522ba7;
    background-color: white;
}

.orderinline{
    display: flex;
    position: relative;
    left: 1vh;
    flex-direction: row;
    bottom: 1vh;
}

.arrows{
    height: 1.5vh;
    padding-top: 0.8vh;
    padding-left: 5vh;
}
.arrows2{
    height: 1.5vh;
    padding-top: 0.8vh;
    padding-left: 2.8vh;
}
.Logo{
    position: absolute;
    margin: 0 3vh;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(43, 20, 10);
    border-radius: 20px;
    padding: 5px;
    background-color: #FFB800;
    top: 0;
    height: 5vh;

}
.random{
    color: black;
    font-family: 'Cambay', sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
    display:flex;
    flex-direction: row;

}

.Img{
    position: relative;
    height: 7vh;
    transition: all 0.5s ease;
    bottom: 2.6vh
}

.Img:hover{
    animation: spinning82341 1.7s linear infinite;
}

.favorite{
    bottom: 1vh;
    position: relative;
    height: 5vh;
    left: -1.4vh;
}

.limpiar{
    position: relative;
    left: 2vh;
    display: flex;
    height: 2vh;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.aboutimg{
    padding-right: 1vh;
    height: 4vh;
}

.about{
    position: relative;
    left: 1.5vh;
}
.escoba{
    height: 4vh;
    position: relative;
    bottom: 2vh;
    right: 1.2vh;}

.filterCategory{
    position: relative;
    margin: 1vh;
    bottom: 1.1vh;
    left: 1vh;}
.filterRating{
    position: relative;
    margin: 1vh;
    bottom: 1.8vh;
    left: 1vh;
}

.titulorating{
    font-size: 2vh;
}
@keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
  }


.dropdown{
    position: absolute;
    top: 8vh;
    right: 4vh;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #FDFBF2;
    justify-content: center;
    border-radius: 9px 0px 9px 9px;
    padding: 30px;
    box-shadow: 0px 4px 19px 7px rgb(0 0 0 / 25%);
    color: black;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    transition: 1s;
}

.dropdown2{
    position: absolute;
    top: 8vh;
    left: 4vh;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color:#FDFBF2;
    justify-content: center;
    border-radius: 0px 9px 9px 9px;
    padding: 30px;
    box-shadow: 0px 4px 19px 7px rgb(0 0 0 / 25%);
    color: black;
    font-size: 20px;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    transition: 1s;
}
.titulos{
    
    margin-bottom: 10px;
    color: #000000;
}

.titulos:hover{
    text-decoration: underline;
}

.imagenprofile{
    height: 40px;
    width: 40px;
    margin-inline: 15px;
    border-radius: 10px;
    border-style: 3px solid ;
}

.imagenprofile:hover{
    cursor: pointer;
}

.logout {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 15px;
    margin-top: 10px;
   }
   
   .logout::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 3, 3, 0.863);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .logout:hover::before {
    transform: translateX(0);
   }

   /* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: #522ba7;
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }

  .burguer{
    height: 3vh ;
  }

  .category{
    position: relative;
    height: 5vh;
    bottom: 1.3vh;
    right: 0.5vh;  }