.navBarContainer {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    flex-wrap: nowrap;
    padding-inline: 20px;
    transition: all 0.5s ease;
}

.optionsContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    gap: 2em;
}

.leftContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
    width: 30%;
}

.middleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    
}

.rightContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    gap:2em;
}

.profileYswitchContainer {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 30%;
}

.Logo {
    height: 4em;
    object-fit: contain;
    z-index: 3;
}

.about {
    display: flex;
    align-items: center;
}

.icon {
    fill: #40047C;
    transform: scale(1.5);
    margin-right: 0.5em;
}

.select {
    border: none;
    background-color: transparent;
    color: #40047C;
    font-size: medium;
}

.select:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.random {
    color: black;
    font-family: 'Cambay', sans-serif;
    font-size: medium;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #40047C;
}

.rueda {
    height: 5vh;
    transition: all 0.5s ease;
}

.rueda:hover {
    animation: spinning82341 1.7s linear infinite;
}

.filter {
    display: flex;
    justify-content: space-around;
}

/* ---------------------------------------------------------------------------DARK MODE ------------------------------------------------------------------------------------ */
.navBarContainerDark {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    flex-wrap: nowrap;
    padding-inline: 20px;
    transition: all 0.5s ease;
    background-color: #2A2A2B;
}

.optionsContainerDark {
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.iconDark {
    fill: #FDFBF2;
    transform: scale(1.5);
    margin-right: 0.5em;
}

.selectDark {
    border: none;
    background-color: #2a2a2b;
    color: #FDFBF2;
    font-size: medium;
}

.selectDark:hover {
    cursor: pointer;
    color: #FDFBF2;
    transform: scale(1.05);
}

.randomDark {
    color: black;
    font-family: 'Cambay', sans-serif;
    font-size: medium;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FDFBF2;
}

.burgerIconContainer {
    display: flex;
    margin: 1em;
    width: 30%;
    justify-content: left;
}

.burgerIcon {
    visibility: hidden;
    transform: scale(1.5);
    color: #40047C;
    z-index: 1;
}

.burgerIconDark {
    visibility: hidden;
    transform: scale(1.5);
    color: #FCF9EB;
    z-index: 1;
}

.loginOption {
    width: 100%;

}
/* ---------------------------------------------------------------------------RESPONSIVE------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
    .navBarContainer {
        padding-inline: 0;
    }

    .navBarContainerDark {
        padding-inline: 0;
    }

    .optionsContainer{
        transform: translateX(-100%);
        transition: all 0.5s ease;
        height: 100%;
        width: 100%;
        background-color: #FDFBF2;
        position: absolute;
        top:3em;
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
        z-index: 3;
        padding: 1em;
        gap: 2em;
    }

    .optionsContainer.open {
        transform: translateX(0);
    }

    .optionsContainerDark {
        background-color: #2A2A2B;
        transform: translateX(-100%);
        transition: all 0.5s ease;
        height: 100%;
        width: 100%;
        position: absolute;
        top:3em;
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
        z-index: 3;
        padding: 1em;
        gap: 2em;
    }

    .optionsContainerDark.open {
        transform: translateX(0);
    }

    .leftContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 2em;
        width: 100%;
        padding-right: 3em;
    }

    .middleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
    }

    .rightContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding-right: 2.4em;
        gap: 2em;
        width: 100%;
    }

    .logoContainer {
        display: flex;
        align-items: center;
        width: 2em;
    }

    .burgerIconContainer {
        background-color: transparent;
        display: flex;
        align-content: center;
        justify-content: space-between;
        height: 2em;
    }

    .burgerIcon {
        visibility: visible;
        position: absolute;
        left: 1em;
        display: flex;
        transform: scale(1.8);
        margin-top: 0.5em;
        fill: #40047C;
        z-index: 1;
    }

    .burgerIconDark {
        color: #FCF9EB;
        z-index: 1;
        visibility: visible;
        position: absolute;
        left: 1em;
        display: flex;
        transform: scale(1.8);
        margin-top: 0.5em;
        fill: #40047C;
        z-index: 1;
    }

    .Logo {
        height: 2em;
        object-fit: contain;
    }

    .profileYswitch {
        display: flex;
    }

    .imagenprofile {
        transform: scale(0.8);
    }

    /* ----------darkmode------------ */
    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
        transform: scale(0.8);
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
                transform: scale(0.8);
    }
    
    /* The slider */
    .slider {
        --background: #313131;
                transform: scale(0.8);
    }
    
    /* The slider */
    .slider {
        --background: #28096b;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background);
        transition: .5s;
        border-radius: 30px;
        width: 3.4em;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        border-radius: 50%;
        left: 10%;
        bottom: 15%;
        box-shadow: inset 8px -4px 0px 0px #FFB800;
        background: var(--background);
        transition: .5s;
                transform: scale(0.8);
    }
    
    input:checked+.slider {
        background-color: #40047C;
                transform: scale(0.8);
    }
    
    input:checked+.slider:before {
        transform: translateX(100%);
        box-shadow: inset 15px -4px 0px 15px #FFB800;
                transform: scale(0.8);
    }

    .random, .about, .select, .filter {
        display: flex;
        width: 90%;
        justify-content: left;
    }

}

/* ------------------------------------------------------------------------DESPUES VEMOS------------------------------------------------------------------------------------- */
.h1 {
    color: rgb(255, 255, 255);
    margin: 8px;
}

.h1NoHome {
    color: black
}




.ContainerNoHome {
    background-color: #FCF9EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    height: 70px;
    flex-wrap: nowrap;

}

.ContainerNoHome>div {
    display: flex;
    margin: 0 20px 0 20px;
    align-items: center;
}

.link:link {
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
}

.link:visited {
    text-decoration: none;
}

.Container div {
    display: flex;
}

.Button {
    height: 35px;
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: white;
}

.Button:hover {
    cursor: pointer;
    color: black;
}

.Button:hover>img {
    height: 35px;
}

.ButtonLogin {
    color: rgb(255, 255, 255);
    font-size: large;
    background-color: #522ba7;
    border-radius: 11px;
    height: 30px;

}

.ButtonLogin:hover {
    cursor: pointer;
    color: #522ba7;
    background-color: white;
}

.orderinline {
    display: flex;
    position: relative;
    left: 1vh;
    flex-direction: row;
    bottom: 1vh;
}

.arrows {
    height: 1.5vh;
    padding-top: 0.8vh;
    padding-left: 5vh;
}

.arrows2 {
    height: 1.5vh;
    padding-top: 0.8vh;
    padding-left: 2.8vh;
}



.link {
    margin: 0px;
    margin-left: 96px;
    padding: 0px;
}


.limpiar {
    position: relative;
    left: 2vh;
    display: flex;
    height: 2vh;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.aboutimg {
    padding-right: 1vh;
    height: 4vh;
}

.about {
    position: relative;
    left: 1.5vh;
}


.filterCategory {
    position: relative;
    margin: 1vh;
    bottom: 1.1vh;
    left: 1vh;
}

.filterRating {
    position: relative;
    margin: 1vh;
    bottom: 1.8vh;
    left: 1vh;
}

.titulorating {
    font-size: 2vh;
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}


.dropdown {
    position: absolute;
    top: 8vh;
    right: 4vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #FDFBF2;
    justify-content: space-around;
    border-radius: 9px 0px 9px 9px;
    padding: 30px;
    box-shadow: 0px 4px 19px 7px rgb(0 0 0 / 25%);
    color: black;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    transition: 1s;
    z-index: 1;
    gap:1.5em;
}

.titulos {

    margin-bottom: 10px;
    color: #000000;
}

.titulos:hover {
    text-decoration: underline;
}

.imagenprofile {
    height: 2.5em;
    width: 2.5em;
    margin-inline: 15px;
    border-radius: 10px;
    border-style: 3px solid;
}

.imagenprofile:hover {
    cursor: pointer;
}

.logout {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 11px;
    margin-top: 10px;
}

.logout::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #5A268C;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.logout:hover::before {
    transform: translateX(0);
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #313131;
}

/* The slider */
.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;

}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #FFB800;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #40047C;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #FFB800;
}

.burguer {
    height: 2em;
    aspect-ratio: 3/2;
    object-fit: contain;
    display: none;
}


.burguer:hover {
    cursor: pointer;
}

.category {
    position: relative;
    height: 5vh;
    bottom: 1.3vh;
    right: 0.5vh;
}